html {
    width: 320px;
    margin: 20px auto;
    padding: 0;
    background: black;
}

body {
    min-height: 100%;
    margin: 0;
    
    font: 10px Helvetica, Arial, sans-serif;
    color: #333;
    background-color: black;
    
    -webkit-box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.5);
            box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.5);
}

.title-bar {
    height: 20px;
    margin: 0;
    padding: 2px;
    border-bottom: 1px solid #596269;
    
    text-align: center;
    font-size: 12px;
    text-shadow: white 0px 1px 0px;
    
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    
    background-color: #d6dee1;
    background-image: url(../img/title.svg);
    background-image: -webkit-linear-gradient(#eff6f9, #bdc5c9);
    background-image:    -moz-linear-gradient(#eff6f9, #bdc5c9);
    background-image:     -ms-linear-gradient(#eff6f9, #bdc5c9);
    background-image:      -o-linear-gradient(#eff6f9, #bdc5c9);
    background-image:         linear-gradient(#eff6f9, #bdc5c9);
}

.status-bar {
    position: relative;
    height: 44px;
    margin: 0;
    
    border-top:    1px solid #cad6e2;
    border-bottom: 1px solid #22374a;
    
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    
    background-color: #8195af;
    background-image: url(../img/status.svg);
    background-image: -webkit-linear-gradient(#afbbcb, #8b9db5 48%, #8195af 50%, #6e86a4);
    background-image:    -moz-linear-gradient(#afbbcb, #8b9db5 48%, #8195af 50%, #6e86a4);
    background-image:     -ms-linear-gradient(#afbbcb, #8b9db5 48%, #8195af 50%, #6e86a4);
    background-image:      -o-linear-gradient(#afbbcb, #8b9db5 48%, #8195af 50%, #6e86a4);
    background-image:         linear-gradient(#afbbcb, #8b9db5 48%, #8195af 50%, #6e86a4);
}

.status-bar .message {
    color: #f7ffff;
    
    margin: 0;
    padding: 15px 0 5px 0;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0,0,0, 0.4);
    line-height: 40%;
}

.status-bar .message small {
    font-size: 12px;
}

.status-bar .score-box {
    position: absolute;
    top: 6px;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 7px 12px 0px;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.398438) 0px -1px 0px;
    
    font-size: 12px;
    font-weight: bold;
    
    border: 1px solid rgba(0, 0, 0, 0.398438);
    border-radius: 5px;
}

.status-bar .score-box.white {
    right: 10px;
    color: black;
    
    background-color: white;
    background-image: url(../img/whitescore.svg);
    background-image: -webkit-linear-gradient(white, #EDEDED 50%, #DFDFDF 51%, #E7E7E7);
    background-image:    -moz-linear-gradient(white, #EDEDED 50%, #DFDFDF 51%, #E7E7E7);
    background-image:     -ms-linear-gradient(white, #EDEDED 50%, #DFDFDF 51%, #E7E7E7);
    background-image:      -o-linear-gradient(white, #EDEDED 50%, #DFDFDF 51%, #E7E7E7);
    background-image:         linear-gradient(white, #EDEDED 50%, #DFDFDF 51%, #E7E7E7);
}

.status-bar .score-box.black {
    left: 10px;
    color: white;
    
    background-color: black;
    background-image: url(../img/blackscore.svg);
    background-image: -webkit-linear-gradient(#3B3B3B, #1D1D1D 50%, black 51%, black);
    background-image:    -moz-linear-gradient(#3B3B3B, #1D1D1D 50%, black 51%, black);
    background-image:     -ms-linear-gradient(#3B3B3B, #1D1D1D 50%, black 51%, black);
    background-image:      -o-linear-gradient(#3B3B3B, #1D1D1D 50%, black 51%, black);
    background-image:         linear-gradient(#3B3B3B, #1D1D1D 50%, black 51%, black);
}

#game-board {
    display: block;
}

#game-board.busy {
    cursor: wait;
}

.controls-bar {
    height: 132px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-top: 1px solid #3A3D42;
    text-align: center;
    
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
            box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    
    background-color: #757D8A;
    background-image: url(../img/footer.svg);
    background-image: -webkit-linear-gradient(#9098A3, #454f5d);
    background-image:    -moz-linear-gradient(#9098A3, #454f5d);
    background-image:     -ms-linear-gradient(#9098A3, #454f5d);
    background-image:      -o-linear-gradient(#9098A3, #454f5d);
    background-image:         linear-gradient(#9098A3, #454f5d);
}

.controls-bar button {
    color: black;
    font: bold 1.35em Helvetica, Arial, sans-serif bold;
    text-shadow: 0 1px 1px white;
    
    padding: 0.02em 0;
    border: 0;
    border-top: 1px solid rgba(255,255,255,.45);        
    
    border-radius: 4px;
    
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7), 0 1px 0 rgba(0, 0, 0, 0.3);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7), 0 1px 0 rgba(0, 0, 0, 0.3);
    
    background-color: #ecedef;
    background-image: url(../img/footer-button.svg);
    background-image: -webkit-linear-gradient(#f8f8f9, #dddfe1);
    background-image:    -moz-linear-gradient(#f8f8f9, #dddfe1);
    background-image:     -ms-linear-gradient(#f8f8f9, #dddfe1);
    background-image:      -o-linear-gradient(#f8f8f9, #dddfe1);
    background-image:         linear-gradient(#f8f8f9, #dddfe1);
}

.controls-bar button:active {
    background-color: #c6c8cc;
    background-image: url(../img/footer-button-active.svg);
    background-image: -webkit-linear-gradient(#e2e3e4, #aaadb4);
    background-image:    -moz-linear-gradient(#e2e3e4, #aaadb4);
    background-image:     -ms-linear-gradient(#e2e3e4, #aaadb4);
    background-image:      -o-linear-gradient(#e2e3e4, #aaadb4);
    background-image:         linear-gradient(#e2e3e4, #aaadb4);
}

.controls-bar button.checked {
    color: white;
    text-shadow: rgba(0, 0, 0, 0.496094) 0px -1px 1px;
    
    background-color: #7e8693;
    background-image: url(../img/footer-button-checked.svg);
    background-image: -webkit-linear-gradient(#939ba6, #687180);
    background-image:    -moz-linear-gradient(#939ba6, #687180);
    background-image:     -ms-linear-gradient(#939ba6, #687180);
    background-image:      -o-linear-gradient(#939ba6, #687180);
    background-image:         linear-gradient(#939ba6, #687180);
}

.controls-bar button.checked:active {
    color:#3A3D42;
    text-shadow:0 1px 1px white;
        
    background-color: #ebeced;
    background-image: url(../img/footer-button-checked-active.svg);
    background-image: -webkit-linear-gradient(#f8f8f9, #dddfe1);
    background-image:    -moz-linear-gradient(#f8f8f9, #dddfe1);
    background-image:     -ms-linear-gradient(#f8f8f9, #dddfe1);
    background-image:      -o-linear-gradient(#f8f8f9, #dddfe1);
    background-image:         linear-gradient(#f8f8f9, #dddfe1);
}

.controls-bar button.full-width {
    width:  276px;
    margin: 10px 0 10px 0;
    height: 24px;
}

.player-selector h2 {
    padding: 2px 0 0 0;
    margin: 0;
    text-align: center;
    font-size: 14px;
    color: #f7ffff;
    text-shadow: 0 -1px 0 rgba(0,0,0, 0.4);
}

.player-selector ul {
    list-style-type: none;
    margin: 5px auto;
    padding: 0;
}

.player-selector li {
    display: inline-block;
    margin: 0 2px;
}

.player-selector button {
    width: 52px;
    height: 20px;
    margin: 0px;
    font-size: 11px;
    text-algin: center;
}